.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #57ba62;
  color: white;
  width: 100%;
  padding: 0 20px;
  height: 100px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  color: white;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: rgb(209, 213, 221);
}
